#loginmodal {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  padding: 15px 20px 30px;
}

/* 

  border: 4px solid black;
  border-radius: 18px;
  overflow: hidden;
  background-color: white;
  
  
  height: fit-content;
  
  justify-content: center; */

#login-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
  align-items: center;
}

.login-input {
  width: 90%;
  box-sizing: border-box;
}

