.albums-container {
    margin-top: 10px;
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.album {
    position: relative;
    height: 241px;
    width: 241px;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
    overflow: hidden;
}

.title-photo-container {
    color: white;
    display: flex;
    position: absolute;
    top: 240px;
    /* transition: top 0.5s ease-in-out; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.236);
    justify-content: space-between;
}

#album-arrow-icon {
    align-self: flex-end;
}

/* .title-photo-container:hover {
    top: 110px
} */

.album div {
    padding: 3px;
}
#create-new-album {
    margin: 10px;
    text-align: end;
}

#create-new-album a{
    text-decoration: none;
    color: black;
}

.Edit-Delete-Album {
    display: flex;
}

.album-link {
    cursor: pointer;
}
